{% extends "Publico/plantilla.html" %}

{%  load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div id="banner-area" class="banner-area" style="background-image:url(static/Publico/images/banner/banner4.jpg)">
    <div class="banner-text">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                  <h1 class="banner-title">Noticias</h1>
                </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end --> 
  
  <section id="main-container" class="main-container">
    <div class="container">
      <div class="row">
  
        <div class="col-lg-8 mb-5 mb-lg-0">
          <div class="post">
            <div class="post-media post-image">
              <img loading="lazy" src="static/Publico/images/news/news1.jpg" class="img-fluid" alt="post-image">
            </div>
        
            <div class="post-body">
              <div class="entry-header">
                <div class="post-meta">
                  <span class="post-author">
                    <i class="far fa-user"></i> Administrador</span>
                  <span class="post-meta-date">
                    <i class="far fa-calendar"></i> Mayo 24, 2022</span>
                </div>
                <h2 class="entry-title">
                  <a href="{% url 'Noticia' %}">Nueva ruta para el mes de junio</a>
                </h2>
              </div><!-- header end -->
        
              <div class="entry-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur. Excepteur ...</p>
              </div>
        
              <div class="post-footer">
                <a href="{% url 'Noticia' %}" class="btn btn-primary">Leer más</a>
              </div>
        
            </div><!-- post-body end -->
          </div><!-- 1st post end -->
        
          <div class="post">
            <div class="post-media post-image">
              <img loading="lazy" src="static/Publico/images/news/news2.jpg" class="img-fluid" alt="post-image">
            </div>
        
            <div class="post-body">
              <div class="entry-header">
                <div class="post-meta">
                  <span class="post-author">
                    <i class="far fa-user"></i> Administrador</span>
                  <span class="post-meta-date">
                    <i class="far fa-calendar"></i> Marzo 12, 2022</span>
                </div>
                <h2 class="entry-title">
                  <a href="{% url 'Noticia' %}">Salida anual a puerto varas</a>
                </h2>
              </div><!-- header end -->
        
              <div class="col-lg-8 mb-5 mb-lg-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur. Excepteur ...</p>
              </div>
        
              <div class="post-footer">
                <a href="{% url 'Noticia' %}" class="btn btn-primary">Leer más</a>
              </div>
        
            </div><!-- post-body end -->
          </div><!-- 2st post end -->
        
          <div class="post">
            <div class="post-media post-image">
              <img loading="lazy" src="static/Publico/images/news/news3.jpg" class="img-fluid" alt="post-image">
            </div>
        
            <div class="post-body">
              <div class="entry-header">
                <div class="post-meta">
                  <span class="post-author">
                    <i class="far fa-user"></i> Administrador</span>
                  <span class="post-meta-date">
                    <i class="far fa-calendar"></i> Febrero 13, 2022</span>
                </div>
                <h2 class="entry-title">
                  <a href="{% url 'Noticia' %}">Conoce a nuestro nuevo instructor</a>
                </h2>
              </div><!-- header end -->
        
              <div class="entry-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur. Excepteur ...</p>
              </div>
        
              <div class="post-footer">
                <a href="{% url 'Noticia' %}" class="btn btn-primary">Leer más</a>
              </div>
        
            </div><!-- post-body end -->
          </div><!-- 3rd post end -->
        
          <nav class="paging" aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-double-left"></i></a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a></li>
            </ul>
          </nav>
        
        </div><!-- Content Col end -->
  
  
        <div class="col-lg-4">
  
          <div class="sidebar sidebar-right">
            <div class="widget recent-posts">
              <h3 class="widget-title">noticas destacadas</h3>
              <ul class="list-unstyled">
                <li class="d-flex align-items-center">
                  <div class="posts-thumb">
                    <a href="#"><img loading="lazy" alt="img" src="static/Publico/images/news/news1.jpg"></a>
                  </div>
                  <div class="post-info">
                    <h4 class="entry-title">
                      <a href="#">Nueva Ruta Para El Mes De Junio</a>
                    </h4>
                  </div>
  
                </li>
                <li class="d-flex align-items-center">
                  <div class="post-info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Excepteur ...</p>
                  </div>
                </li><!-- 1st post end-->
  
                <li class="d-flex align-items-center">
                  <div class="posts-thumb">
                    <a href="#"><img loading="lazy" alt="img" src="static/Publico/images/news/news2.jpg"></a>
                  </div>
                  <div class="post-info">
                    <h4 class="entry-title">
                      <a href="#">Salida Anual A Puerto Varas</a>
                    </h4>
                  </div>
                </li>
                <li class="d-flex align-items-center">
                  <div class="post-info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Excepteur ...</p>
                  </div>
                </li><!-- 2nd post end-->
  
                <li class="d-flex align-items-center">
                  <div class="posts-thumb">
                    <a href="#"><img loading="lazy" alt="img" src="static/Publico/images/news/news3.jpg"></a>
                  </div>
                  <div class="post-info">
                    <h4 class="entry-title">
                      <a href="#">Conoce A Nuestro Nuevo Instructor</a>
                    </h4>
                  </div>
                </li>
                <li class="d-flex align-items-center">
                  <div class="post-info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Excepteur ...</p>
                  </div>
                </li><!-- 3rd post end-->
  
              </ul>
  
            </div><!-- Recent post end -->
  
  
      </div><!-- Main row end -->
  
    </div><!-- Conatiner end -->
  </section><!-- Main container end -->
{%  endblock %}